
<%- include partial/header%>
<html>
<head>

      <title>Registration Form</title>
      <link rel="stylesheet" type="text/css" href="/stylesheet/styleland.css">
</head>
<body>
<div class="reg">
<center><a href="/SE" >SECOND YEAR</a></center><br><br>

<center><a href="/TE" >THIRD YEAR</a></center><br><br>

<center><a href="/BE" >FOURTH YEAR</a></center><br><br>

<center><a href="/rates" >Rates</a></center><br><br>
</div>
</body>
</html>
<%- include partial/footer %>

